<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <script src="https://kit.fontawesome.com/46a049b09d.js" crossorigin="anonymous"></script>

    <meta name="keywords" content="yoshi,van,belkom,yoshivanbelkom,gameplay,programmer,tech,lead,nhtv,buas,toadmaninteractive,toadman,portfolio,game">
    <meta name="google-site-verification" content="acC7bXQ8ushS-xkoF3W9cp4hEddB_ZzwXonAUEuUh60" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{Title}}">
    <meta name="twitter:description" content="{{Description}}">
    <meta name="twitter:image" content="./public/portrait_drawing.png">
    
    <link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">

    <!--Mobile phone theme color-->
    <meta name="msapplication-TileColor" content="#1a1a1a">
    <meta name="msapplication-TileImage" content="resources/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#1a1a1a">
    <meta name="msapplication-navbutton-color" content="#1a1a1a">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1a1a1a">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{Title}}</title>
  </head>
  <body>
    <div class="app">
      <div class="app-center">
        <canvas id="app-canvas"></canvas>
      </div>
    </div>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>